.filter {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  .filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .filter-btn {
    padding: 10px 20px;
    background-color: #f04e30;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .filter-btn:hover {
    background-color: #c73e27;
  }
  